gunicorn==0.17.2
beautifulsoup4==4.3.2
configparser==3.5.0
dateparser==0.5.0
Django==1.8.2
flasgger==0.5.13
Flask==0.10.1
Flask-Admin==1.4.0
flask-dynamo==0.0.7
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.1
Flask-Triangle==0.5.4
Flask-WTF==0.12
idna==2.0
ipaddress==1.0.7
Jinja2==2.8
lda==1.0.3
matplotlib==1.4.3
nltk==3.1
numpy==1.9.2
pandas==0.18.1
Pillow==2.8.1
pymongo==3.3.0
pyscreenshot==0.4.1
python-dateutil==2.4.2
PyYAML==3.12
regex==2016.9.22
request==0.0.8
requests==2.10.0
scikit-learn==0.16.1
scipy==0.15.1
Scrapy==0.24.6
textblob==0.11.1
Unidecode==0.4.19
unittest2==1.0.1
virtualenv==13.0.3
Werkzeug==0.8.3
WTForms==2.1