/*The current orientation uses IDs a not wrappers*/

/*CSS Reset - Was used to eliminate the whitespace at the top */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/*And attempt at sidebar alterations later? */


/*Fonts to use are Merriweather and Yeseva One */
html, body {
    height: 100%;

}

ul {
    list-style-position: inside;
    /* text-align: center; */
}

/* It should be li instead of UL for this */
li {
    list-style-type: none;
    border-bottom: solid 1px #000;
    margin-bottom: 30px;
    text-align: center;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;                
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


li a {
    color: #A6ABAB;
}


.off-canvas-wrapper {
    height: 100%; /* Needed to set this to min height 100% with the html and body */
    background: #E1E3E4;
}

.off-canvas-wrapper .off-canvas-wrapper-inner {
    height: 100%; /*Controls Height*/
}


/*Also controls the border of the Menu */
.off-canvas-wrapper .off-canvas-wrapper-inner #offCanvasLeft {
    height: 100%;
    overflow: visible;
    background: #343434;
}

#sidebar-brand {
    text-align: center;
    background: #444444;
    padding: 2px 0px;
}

#sidebar-brand h1 {
    color: #999999;
}


.off-canvas-wrapper .vertical-menu {
    background: #343434;
    margin-left: 0px; /*Shifted it left again the div wall*/
    min-height: 100%;
}


.off-canvas-wrapper .vertical-menu li {
    background: #343434;
    padding: 8px 0px;
}

.off-canvas-wrapper .vertical-menu .menu-content {
    text-color: #C2C2C2;
    padding: 10px 0px; /*Spaced out the items in the list */
}

/*I had to be more specific to override the foundation .css */
.off-canvas-wrapper .off-canvas-content {
    /*padding: 0px 30px; - Eliminate padding */
    height: 75%; /*This controls the spread */ 
    /* I had the filter here */
    background: #E1E3E4; 
}


.off-canvas-wrapper .off-canvas-wrapper-inner .off-canvas-content .title-bar {
    background: #3C948B;   
    color: #FFFFFF;
    /*padding: .5rem */ 
}

.off-canvas-wrapper .off-canvas-content .main-content {
    padding: 25px 20px; /*PADDING is How spacce is created between divs*/
    height: 110%;
    background: white;
    overflow: scroll;
}

/*Style the Children here too?? It is pink */
.off-canvas-wrapper .page-content-content .jumbotron {

}


.off-canvas-wrapper .off-canvas-content .content-footer { /*HTML to create a footer */
    /* Location */
    position: fixed;
    overflow: visible;
    bottom: 0px;
    height: 30px;
    min-width: 120%;     
    background: rgba(32,26,22,.7);
    filter: blur(5px);
} 

.off-canvas-content .content-footer h1 {
    vertical-align: top;
    font-size: 12px;
    color: #C2C2C2;
    margin-left: 60%; /*This is how you shift to the left*/

}



 
