/*CSS Reset - Was used to eliminate the whitespace at the top */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/*And attempt at sidebar alterations later? */

html, body {
    height: 100%;
}

ul {
    list-style-position: inside;
    /* text-align: center; */
}

/* It should be li instead of UL for this */
li {
    list-style-type: none;
    border-bottom: solid 1px #000;
    margin-bottom: 30px;
    text-align: center;
}

li a {
    color: #A6ABAB;
}


.off-canvas-wrapper {
    height: 100%; /* Needed to set this to min height 100% with the html and body */
    /*background: #E1E3E4;*/
    background: green;
    opacity: 100%;
}

.off-canvas-wrapper .off-canvas-wrapper-inner {
    height: 70%; /*Controls Height*/
    overflow: hidden;
}


/*Also controls the border of the Menu */
.off-canvas-wrapper .off-canvas-wrapper-inner #offCanvasLeft {
    height: 100%;
    overflow: visible;
    background: red;
}

#sidebar-brand {
    text-align: center;
    background: #343434;
    padding: 4px;
}

#sidebar-brand h1 {
    color: #C2C2C2;
}


.off-canvas-wrapper .vertical-menu {
    background: red;
}


.off-canvas-wrapper .vertical-menu .menu-content {
    text-color: #C2C2C2;
    padding: 0px;
    margin: 0px;
}

/*I had to be more specific to override the foundation .css */
.off-canvas-wrapper .off-canvas-content {
    padding: 0px 30px;
    height: 50%; /*This controls the spread */ 
    /* I had the filter here */
    background: #F38630 
}


.off-canvas-wrapper .off-canvas-wrapper-inner .off-canvas-content .title-bar {
    background: #3C948B;   
    color: #FFFFFF;
    /*padding: .5rem */ 
}

.off-canvas-wrapper .off-canvas-content .main-content {
    padding-top: 20px; /*PADDING is How spacce is created between divs*/
    height: 80%;
    background: white;
}


/*Style the Children here too?? It is pink */
.off-canvas-wrapper .page-content-content .jumbotron {

}


.off-canvas-wrapper .off-canvas-content .content-footer { /*HTML to create a footer */
    /* Location */
    position: fixed;
    overflow: visible;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #3C948B;    
} 

.off-canvas-content .content-footer h1 {
    vertical-align: top;
    font-size: 10px;
    color: white;
    margin-left: 85%; /*This is how you shift to the left*/

}



 
