/*The current orientation uses IDs a not wrappers*/

/*CSS Reset - Was used to eliminate the whitespace at the top */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/*And attempt at sidebar alterations later? */

html, body {
    height: 100%;

}

.off-canvas-wrapper {
    min-height: 100%; /* Needed to set this to min height 100% with the html and body */
    background: url("https://tastefoodblog.files.wordpress.com/2012/10/oyster-ingredients-tf.jpg")
}

/*This is right below the jumbotron */
.off-canvas-wrapper .off-canvas-wrapper-inner {
    background: transparent;    
}

/*Also controls the border of the Menu */
#offCanvasLeft {
    overflow: hidden;
    background: rgba(32,26,22,.7);
    filter: blur(5px);
}

/*Controls the Menu itself */
.off-canvas-wrapper .vertical-menu {
    background: transparent;
}


.off-canvas-wrapper .vertical-menu h1 {
    color: white;
}



.page-content-wrapper {
/*This seems to make the text purple or override the jumbotron so leave this blank for now */

}

/*Style the Children here too?? It is pink */
.page-content-wrapper .jumbotron {
background-color: pink;

}


.off-canvas-wrapper .main-content {
    background: brown;
}

.off-canvas-wrapper .content-footer { /*HTML to create a footer */
    /* Location */
    position: fixed;
    bottom: 0px;
    height: 30px;
    width: 100%;
    overflow: hidden;
    background: rgba(32,26,22,.7);
    filter: blur(5px);
} 

.off-canvas-wrapper .content-footer h1 {
    vertical-align: top;
    font-size: 10px;
    color: white;
    margin-left: 85%; /*This is how you shift to the left*/

}



 
