<h1> Pending Items Test</h1>
<table id="icebox" class="table">
  <thead>
    <tr>
      <th> id </th>
      <th> Recipe Name </th>
      <th> Pending Item Actions </th>
    </tr>
  </thead>

  <tbody>
    {% for pendingItem in pendingItems %}
      <tr>
        <th> {{pendingItem._id}} </th>
        <th style="width:50%"> {{pendingItem.name}} </th>
        <th>  
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-edit"></span> Edit
          </button>
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-ok"></span> Ok 
          </button>
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-remove"></span> Remove 
          </button>
        </th>
      </tr>
    {% endfor %}
  </tbody>
</table>