<!DOCTYPE html>
<html lang="en" data-ng-app>
<html>

<head>
  <!-- Was not working because not ../ -->
{% block head %}
  <link href="../../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="../../static/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="../../static/css/sidebar.css" rel="stylesheet"> 
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="../../static/js/bootstrap.min.js"></script>
  <link href="../../static/css/layout.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% end block head %}
</head>

   
<body>
<!--Will apply a header here -->
<header> {% block header %} {% endblock header %} </header>

{% block content %}
  <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
              <li class="sidebar-brand">
                  <a href="#">
                      Yumster
                  </a>
              </li>
              <li>
                  <a href="#">Item1</a>
              </li>
              <li>
                  <a href="#">Item2</a>
              </li>
              <li>
                  <a href="#">Overview</a>
              </li>
              <li>
                  <a href="#">About</a>
              </li>
              <li>
                  <a href="#">Contact</a>
              </li>
          </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-12">
                      <h1>Yumster</h1>
                      <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                      <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                      <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Click to View!</a>
                  </div>
              </div>
          </div>
      </div>
      <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- jQuery -->
  <script src="/static/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/static/js/bootstrap.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
  </script>

  {% endblock %)


</body>
</html>
