{% extends "layout.html" %} {% block content %}
<div class="jumbotron">
    <div class="container">
        <h2>About The Project</h2>
        </br>
        <h4><strong> Technology Stack </strong> </h4>
        <p>
            Flask &nbsp MongoDB / SQL &nbsp Bootstrap
        </p>

        <h4><strong>Python Libraries</strong></h4>
        <p>
            pymongo &nbsp sci-kit learn &nbsp BeautifulSoup &nbsp selenium &nbsp DepotManager
        </p>

        <h4><strong>Javascript Libraries</h4></strong>
            <p> phantomjs &nbsp d3.js &nbsp
            </p>

    </div>
</div>
{% endblock %}