<!-- I need to use Jinja to manage things -->

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>

<!-- double check the cases  -->

<!-- Display Icebox with add delete or modify, use react - check the state every like 1min and update the state -->

<!-- Add Custom Ingredient or Recipe | use react form with custom mongo method-->

 <!-- Submit Ingredient -->
<form>
  <div class="form-group">
     <label for="ingredientSubmission">Ingredient</label>
     <input type="text" class="form-control" id="ingredientSubmission" placeholder="Something Good">
   </div>
  <button type="submit" class="btn btn-primary">Submit</button>
<form>

 <!-- Submit Recipe -->
<form>
  <div class="form-group">
    <label for="recipeName"> Recipe Name </label>
    <input type="text" class="form-control" id="recipeNameText"></textarea>
    <label for="recipeIngredientList">Ingredients of Recipe</label>
    <textarea class="form-control" id="recipeIngredientsList" rows="5"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- Edit or Delete Ingredient or Recipe already in the database -->


</body>
