{% extends "layout.html" %}
<!--Add functionality to CRUD the files -->
<body>

{% block content %}
<h1> Pending Items </h1>
<table class="table">
  <thead>
    <tr>
      <th> _id </th>
      <th> Email </th>
      <th> Pending Recipe Name </th>
      <th> Pending Ingredients </th>
      <th> Pending Item Action </th>
    </tr>
  </thead>

  <tbody>
    {% for pendingItem in pendingItems %}
      <tr>
        <th> {{pendingItem._id}} </th>
        <th> {{pendingItem.email}} </th>
        <th> {{pendingItem.recipe_name}} </th>
        <th> {{pendingItem.ingredients}}</th>
        <th> Sample Button </th>
      </tr>
    {% endfor %}
  </tbody>
</table>
</body>
{% endblock %}
