{% extends "layout.html" %}
{% block content %}
 <link rel="stylesheet" link href="/static/css/experiments/home.css">
 <header>
     <h1 class="logo">Shenanigans</h1>
  </header>
 <div class="jumbo">
    <h3>This is a graph built with many recipes.<h3>
 </div>

 <section class="module parallax parallax-1">
 </section>
 
 <section class="module content">
   <div class="container">
     <h2>Lorem Ipsum Dolor</h2>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
   </div>
 </section>
 
 <section class="module parallax parallax-2">
 </section>
 
 <section class="module content">
   <div class="container">
     <h2>Lorem Ipsum Dolor</h2>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
   </div>
 </section>
 
 <section class="module parallax parallax-3">
 </section>
 
 <section class="module content">
   <div class="container">
     <h2>Lorem Ipsum Dolor</h2>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
   </div>
 </section>
{% endblock %}
