{% extends "layout.html" %} {% block content %}

<!-- <script type="text/javascript" src="/static/js/experiments/ingredient_frequency/ingredient_frequency_bar.js"></script>-->
<link rel="stylesheet" link href="/static/js/experiments/ingredient_frequency/ingredient_frequency_bar.css"> 
<h1>
    <center><strong>Frequency of Ingredients </strong></center>
</h1>
<div class="row">
    <div class="col-md-7">

        <body>
            <div id="ingredient_frequency"></div>
        </body>
    </div>
    <body-main>
        <div class="col-md-5">
            <br>
            <br>
            <p>
                The idea of this graph is to depict the frequency of an ingredient in the recipe. Surprisingly the most popular ingredient was <b> [something] </b>.
                <p>
        </div>
    </body-main>
</div>
{% endblock %}
<script>
  ReactDOM.render(
    <FrequencyBarChart/>, document.querySelector('#ingredient_frequency')
  )
</script>