<!--{% extends "layout.html" %} {% block content %}-->
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.13/jquery.knob.min.js"></script>
</head>

<body>
    <input type="text" class="dial" value="10">
</body>

<script>
    $('.dial').knob();
</script>

</html>

<!--<script 	src=" http://www.d3plus.org/js/d3plus.js "></script>-->


<!--<div id="viz "></div>
	<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js "></script>
	<script type="text/javascript " src="/static/js/sandbox/food_network_d3plus.js "></script>
	<link rel="stylesheet " link href="/static/css/sandbox/radial_graph_4.css ">-->

<!--{% endblock %}-->