{% extends "layout.html" %}
{% block content %}

	<h1> 
		<center><strong>LDA Graph </strong></center>
	</h1>
	<div class="row">
		<div class="col-md-7">
    			<div id="lda"></div>
		</div>
		<div class="col-md-5">
			<body-main>
				<div id="ingredList" style="height: 600px; overflow:scroll;">
				<ul id="ingred" class="list-group">
				</ul>
				</div>
			</body-main>
		</div>
	</div>
	</br>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
  				<div class="panel-heading">
    				<h3 class="panel-title">Explanation</h3>
  				</div>
  				<div class="panel-body">
    				Something awesome cool and LDA related
  				</div>
			</div>
		</div>
	</div>
  
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
	<script type="text/javascript" src="/static/js/util/htmllist.js"></script>
	<script type="text/javascript" src="/static/js/experiments/lda_graph.js"></script>
	<link rel="stylesheet" link href="/static/css/experiments/lda_graph.css">

{% endblock %}
