{% extends "layout.html" %}
{% block content %}

	<h1> 
		<center><strong>LDA Graph </strong></center>
	</h1>
	<div class="row">
		<div class="col-md-6">
			<graph>
    			<div id="lda"></div>
    		</graph>
		</div>
		<div class="col-md-6">
			<body-main>
				<br>
				<br>
				<p> 
				LDA Cool stuff <b> [something] </b>. 
				<p>
				<ul id="ingred" class="list-group">
				</ul>
		
			</body-main>
		</div>
	</div>
  
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
	<script type="text/javascript" src="/static/js/experiments/lda_graph.js"></script>
	<link rel="stylesheet" link href="/static/css/experiments/lda_graph.css">

{% endblock %}
