{% extends "layout.html" %}
{% block content %}
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>

	<h1> 
		<center><strong>Comparison of Two Recipes </strong></center>
	</h1>
	<div class="row">
		<div class="col-md-6">
  			<body>
  				<div class="row">
  				<div class="col-md-5">
  					<div class="form-group">
 						<label for="sel1">Select list:</label>
  						<select class="form-control" id="sel1">
   							<option>1</option>
    						<option>2</option>
    						<option>3</option>
    						<option>4</option>
  						</select>
					</div>
				</div>
				<div class="col-md-5">
  					<div class="form-group">
 						<label for="sel1">Select list:</label>
  						<select class="form-control" id="sel1">
   							<option>1</option>
    						<option>2</option>
    						<option>3</option>
    						<option>4</option>
  						</select>
					</div>
				</div>
				<div class="col-md-3">
  					<input class="btn btn-primary" type="submit" value="Submit">
				</div>
				</div>
    			<div class="radarChart"></div>
  			</body>
		</div>
		<body-main>
			<div class="col-md-6">
				<br>
				<br>
				<h3> [Article]
				<p> 
				Radar graph to show 
				<p>
			</div>
		</body-main>
	</div>
  
	<script type="text/javascript" src="/static/js/experiments/radar_chart.js"></script>
	<link rel="stylesheet" link href="/static/css/experiments/radar_chart.css">
	<script>
			////////////////////////////////////////////////////////////// 
			//////////////////////// Set-Up ////////////////////////////// 
			////////////////////////////////////////////////////////////// 

			var margin = {top: 100, right: 100, bottom: 100, left: 100},
				width = Math.min(700, window.innerWidth - 10) - margin.left - margin.right,
				height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 20);
					
			////////////////////////////////////////////////////////////// 
			////////////////////////// Data ////////////////////////////// 
			////////////////////////////////////////////////////////////// 

			var data =  [[{"value": "0.13750", "axis": "cluster 0"}, {"value": "0.01250", "axis": "cluster 1"}, {"value": "0.01250", "axis": "cluster 2"}, {"value": "0.01250", "axis": "cluster 3"}, {"value": "0.01250", "axis": "cluster 4"}, {"value": "0.01250", "axis": "cluster 5"}, {"value": "0.01250", "axis": "cluster 6"}, {"value": "0.01250", "axis": "cluster 7"}, {"value": "0.76250", "axis": "cluster 8"}, {"value": "0.01250", "axis": "cluster 9"}], [{"value": "0.01000", "axis": "cluster 0"}, {"value": "0.01000", "axis": "cluster 1"}, {"value": "0.01000", "axis": "cluster 2"}, {"value": "0.31000", "axis": "cluster 3"}, {"value": "0.01000", "axis": "cluster 4"}, {"value": "0.01000", "axis": "cluster 5"}, {"value": "0.31000", "axis": "cluster 6"}, {"value": "0.01000", "axis": "cluster 7"}, {"value": "0.01000", "axis": "cluster 8"}, {"value": "0.31000", "axis": "cluster 9"}]];

			var ajaxOptions = {
			url : "/identity-monitor-go/hourly?flow=" + flow + "&offeringId="
					+ name,
			type : "GET",
			success : function(result) {
				var data = JSON.parse(result);
				

			},
			error : function(xhr, ajaxOptions, thrownError) {
				alert("There was an error with your string." + thrownError);
			}
		};

		$.ajax(ajaxOptions);
			////////////////////////////////////////////////////////////// 
			//////////////////// Draw the Chart ////////////////////////// 
			////////////////////////////////////////////////////////////// 

			var color = d3.scale.ordinal()
				.range(["#EDC951","#CC333F","#00A0B0"]);
				
			var radarChartOptions = {
			  w: width,
			  h: height,
			  margin: margin,
			  maxValue: 0.5,
			  levels: 5,
			  roundStrokes: true,
			  color: color
			};
			//Call function to draw the Radar chart
			RadarChart(".radarChart", data, radarChartOptions);
		</script>

{% endblock %}
