{% extends "layout.html" %}
{% block content %}
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>

	<h1> 
		<center><strong>Comparison of Two Recipes </strong></center>
	</h1>
	<ul class="nav nav-tabs" id="myTab">
		<li class="active">
			<a data-target="#home" data-toggle="tab">Home</a>
		</li>
		<li>
			<a data-target="#profile" data-toggle="tab">Profile</a>
		</li>
		<li>
			<a data-target="#messages" data-toggle="tab">Messages</a>
		</li>
		<li>
			<a data-target="#settings" data-toggle="tab">Settings</a>
		</li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="home">
			<div class="row">
		<div class="col-md-6">
  			<body>
  				<div class="row">
  				<div class="col-md-5">
  					<div class="form-group">
 						<label for="recipe1">Select list:</label>
  						<select class="form-control" id="recipe1">
  							<option></option>
  						</select>
					</div>
				</div>
				<div class="col-md-5">
  					<div class="form-group">
 						<label for="recipe2">Select list:</label>
  						<select class="form-control" id="recipe2">
  							<option></option>
  						</select>
					</div>
				</div>
				<div class="col-md-3">
  					<input class="btn btn-primary" type="submit" value="Submit" onclick="createGraph()">
				</div>
				</div>
    			<div class="radarChart"></div>
  			</body>
		</div>
		<body-main>
			<div class="col-md-6">
				<br>
				<br>
				<h3> [Article]
				<p> 
				Radar graph to show 
				<p>
			</div>
		</body-main>
	</div>
		</div>
		<div class="tab-pane" id="profile">Profile</div>
		<div class="tab-pane" id="messages">Message</div>
		<div class="tab-pane" id="messages">Message</div>
	</div>

	
  	<script>
	window.onload = generateSelector();

	function loadSelectors() {
		loadSelector('recipe1');
		loadSelector('recipe2');
	}

	function loadSelector(selectorId, data){
  		var recipe = document.getElementById(selectorId);
    	for(var i = 0; i <= data.length; i++) {
        	var option = document.createElement("option");
        	option.value = i;
        	option.innerHTML = data[i];
        	recipe.appendChild(option);
    	}
	};

	function generateSelector() {
		var response = $.ajax({
			url : "/ordered_recipes_json",
			type : "GET",
			success : function(result) {
				var data = JSON.parse(result);
				var dataset = data.ordered_recipes;
				loadSelector("recipe1", dataset);
				loadSelector("recipe2", dataset);
			},
			error : function(xhr, ajaxOptions, thrownError) {
				alert("There was an error with your string." + thrownError);
				}
			});
		};

	</script>
	<script type="text/javascript" src="/static/js/experiments/radar_chart.js"></script>
	<link rel="stylesheet" link href="/static/css/experiments/radar_chart.css">
	<script>
			////////////////////////////////////////////////////////////// 
			//////////////////////// Set-Up ////////////////////////////// 
			////////////////////////////////////////////////////////////// 

			var margin = {top: 100, right: 100, bottom: 100, left: 100},
				width = Math.min(700, window.innerWidth - 10) - margin.left - margin.right,
				height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 20);
					
			////////////////////////////////////////////////////////////// 
			////////////////////////// Data ////////////////////////////// 
			////////////////////////////////////////////////////////////// 

			function generateGraph(recipe1, recipe2) {
				var response = $.ajax({
					url : "/radar_graph_json?recipe1=" + recipe1.toString() + "&recipe2=" + recipe2.toString(),
					type : "GET",
					success : function(result) {
						var data = JSON.parse(result);
						var dataset = data.dists;
						RadarChart(".radarChart", dataset, radarChartOptions);
					},
					error : function(xhr, ajaxOptions, thrownError) {
						alert("There was an error with your string." + thrownError);
					}
				});
			};

			function createGraph() {
				var recipe1 = document.getElementById("recipe1").value;
				var recipe2 = document.getElementById("recipe2").value;
				generateGraph(recipe1, recipe2);
			}
			
			////////////////////////////////////////////////////////////// 
			//////////////////// Draw the Chart ////////////////////////// 
			////////////////////////////////////////////////////////////// 

			var color = d3.scale.ordinal()
				.range(["#EDC951","#CC333F","#00A0B0"]);
				
			var radarChartOptions = {
			  w: width,
			  h: height,
			  margin: margin,
			  maxValue: 0.5,
			  levels: 5,
			  roundStrokes: true,
			  color: color
			};

			generateGraph(1, 2);
			
		</script>

{% endblock %}
