{% extends "layout_2.html" %} {% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">References
    </div>

    <div class="row">
        <div class="col-lg-8">
            <h3> Articles</h3>
            <div class="jumbotron">
                <div class="container">
                    http://www.nature.com/articles/srep00196
                </div>
            </div>
            <h3> Research Papers </h3>
            <div class="jumbotron">
                <div class="container">

                </div>
            </div>
            <h3> Dataset </h3>
            <div class="jumbotron">
                <div class="container">
                    Bon Appetit Food Network BBC
                </div>
            </div>
        </div>
    </div>

    {% endblock %}