{% extends "layout.html" %}
{% block content %}
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="/static/js/experiments/d3.layout.cloud.js"></script>
	<link rel="stylesheet" link href="/static/css/experiments/word_cloud.css">
<head>
    <title>Word Cloud Example</title>
</head>
<body>
</body>
<script src="/static/js/experiments/word_cloud.js"></script>

<div style="width: 40%;">
    <div class="legend">
        Commonly used words are larger and slightly faded in color.  Less common words are smaller and darker.
    </div>
</div>


{% endblock %}