{% extends "layout.html" %} {% block content %}

<script src="/static/js/experiments/word_cloud/word_cloud.js"></script>

<head>
    <title>Word Cloud Example</title>
</head>

<body id="word_cloud">
</body>
<div style="width: 40%;">
    <div class="legend">
        Commonly used foods are larger and slightly faded in color. Less common foods are smaller and darker.
    </div>
</div>
<script>
    wordCloud.init({
        num: 100,
        width: 2000,
        height: 1500,
        api_call: "/api/word_cloud_json/"
    });
</script>


{% endblock %}