{% extends "layout_2.html" %} {% block content %}
<script src="/static/js/react-components/word-cloud-bundle.js"></script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> Word Cloud </h1>
    </div>
</div>
<div class="row">
    <div class-"col-md-12">
        <div id="word_cloud">
        </div>
        <div style="width: 40%;">
            <div class="legend">
                Commonly used foods are larger and slightly faded in color. Less common foods are smaller and darker.
            </div>
        </div>
    </div>
</div>


{% endblock %}